body{
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    border: 0px;
    background-size: cover;
    background-image: url("faded-office.png");
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0px;

}
#main{
    text-align: left;
    width: 80%;
    height: 800px;
    margin: 30px;
}
.Content{
    padding: 40px;
}
#title{
    font-size: calc(3vw + 3vh);
    font-weight: 800;    
}
p{
    font-size: calc(2vw + 1vh);
}
#btn-chat{
    font-family: inherit;
    background: #0ea5e9;
    color: aliceblue;
    border: none;
    font-size: calc(2vw + 1vh);  
    padding: calc(1vw + 0.5vh) calc(2vw + 1vh);  
}